*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.image img{
    height: 30px;
}
.home ul{
    display: flex;
}
.home ul li{
    list-style: none;
}
.home ul a{
    text-decoration: none;
    padding-right: 50px;
    font-size: 20px;
    color: black;
}
.home ul a:hover{
    color: lightcoral;
}
.home{
    display: flex;
}
.one a{
    background-color: #471aff;;
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 35px;
    width: 198px;
    font-size: 24px;
    padding-left: 19px;
    padding-top: 3px;
    margin-top: -7px;
    border-radius: 10px;
}
.one a:hover{
    color: lightcoral;
}
.mid{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.content{
    width: 50%;
    margin-left: 150px;
    margin-top: 63px;
}
.content h1{
    font-size: 66px;
    width: 600px;
}
.content p{
    font-size: 18px;
    margin-bottom: 20px;
}
.image2{
    width: 50%;
}
.mid2{
    margin-top: 110px;
    text-align: center;
}
.image3{
    margin-top: 40px;
    padding-bottom: 120px;
}
.image3 img{
    height: 142px;
    width: 238px;
    padding: 36px;
}
.mid3{
    padding-bottom: 150px;
}
.meet h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 100px;
}
.qualify{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.image4 img{
   height: 150px;
}
.image4{
    border: 1px solid black;
    width: 280px;
    border-radius: 20px;
}
.qualify p{
    width: 200px;
}
.qualify h3{
    margin-left: 50px;
    margin-top: 10px
}
.qualify h5{
    margin-left: 32px;
    margin-top: 18px;
    color: gray;
}
.qualify p{
    margin-top: 20px;
    font-size: 18px;
}
.qualify ul{
    list-style: none;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-left: 20px;

}
.qualify li{
    padding-left: 8px;
    background-color: gray;
    margin-top: 11px;
    margin-left: 9px;
    padding-right: 11px;
    padding: 5px;
    border-radius: 20px;
    color: white;
}
.hi{
    margin-left: 57px;
}
.hi1{
    margin-left: 33px;
}
.hi2{
    margin-left: 67px;
}
.hi3{
    margin-left: 50px;
}
.image5{
    background-image: url("image/cloudbase11.jpeg");
    width: 100%;
    background-size: cover;
     text-align: center;
     padding-bottom: 5rem;
}
.our h1{
    font-size: 66px;
    color: white;
    padding-top: 80px;
}
.features{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    text-align: center;
}
.hello{
    background-color: rgba(0,0,0,0.5);
    width: 350px;
    border-radius: 20px;
}
.hello img{
    height: 79px;
    width: 104px;
    padding-top: 20px;
}
.hello h1{
    color: white;
    margin-top: 75px;
    font-size: 22px;
}
.hello p{
    color: white;
    font-size: 27px;
    width: 300px;
    margin-top: 19px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.imp h1{
    margin-top: 80px;
    text-align: center;
    font-size: 55px;
}
.hello1{
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    width: 340px;
}
.hello1 img{
    height: 130px;
    width: 110px;
    padding-top: 20px;
    
}
.hello1 h1{
    color: white;
    margin-top: 30px;
    font-size: 22px;
}
.hello1 p{
    color: white;
    font-size: 27px;
    width: 300px;
    margin-top: 23px;
    margin-left: 20px;
    padding-bottom: 50px;
}
.talent h1{
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    width: 50%;
    padding-top: 30px;
}
.mid5{
    background-color: #f1f1f1;
}
.activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 90%;
}
.activity img{
    height: 60px;
    width: 60px;
}
.image6{
    width: 33%;
    padding: 55px 67px;
    text-align: left;
}
.image6 h2{
    color: rgba(42, 30, 30, 0.93);
    padding-top: 25px;
}
.image6 p{
    font-size: 18px;
    padding: 10px 0;
    text-align: justify;
}
.mid6{
    padding: 30px 0;
}
.mid6 h1{
    text-align: center;
    font-size: 60px;
    color: #3b3a3e;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 600px;
}

.right{
   width: 50%;
}
.number p{
    color: blue;
    font-size: 50px;
    border: 10px solid blue;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px 27px;
    margin: 20px;
}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.under{
    width: 49%;
}
.under p{
    text-align: justify;
    font-size: 18px;
}
.mid7{
    padding: 40px 0;
    background-color: #6032ff;;
}
.top h1{
    text-align: center;
    font-size: 40px;
    width: 50%;
    margin: 0 auto;
    color: #f1f1f1;
    padding-bottom: 60px;
}
.two{
    display: flex;
    justify-content: center;
}
.two a{
    background-color: #471aff;;
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 35px;
    width: 198px;
    font-size: 24px;
    padding-left: 19px;
    padding-top: 3px;
    margin-top: -7px;
    border-radius: 10px;
}
.two a:hover{
    color: lightcoral;
}
.two p{
    font-size: 20px;
    color: white;
    padding: 0 20px;
}
.bottom{
    background-color: #4719ff;
    padding-bottom: 200px;
}
.image7{
    border-bottom: 2px solid white;
    margin: 0 220px;
    padding-top: 50px
}
.image7 img{
    height: 100px;
}
.last{
    margin: 0 220px;
    padding-top: 20px;
}
.last{
    display: flex;
    justify-content: space-between;
}
.last a{
    color: white;
    font-size: 25px;
    padding: 7px;
}
.service{
    display: flex;
}
.service h3{
    padding: 0 30px;
    color: white;
}
